<mat-sidenav-container class="parent">
  <mat-sidenav #sidenav class="my-sidenav" mode="side" opened>
    <div class="back-button">
      <button mat-raised-button color="primary">
        <mat-icon>arrow_back</mat-icon> Back
      </button>
    </div>
    <h1>Project X</h1>
    <!--<div *ngIf="showInput">
      <input
        #newFile
        placeholder="add a file"
        (keyup.enter)="
          addFile(newFile.value.split('.')[0], newFile.value.split('.')[1]);
          newFile.value = ''
        "
        class="lg-text-input"
        id="addFileInput"
      />
    </div>-->
    <ul>
      <li *ngFor="let file of fileService.files">
        {{ file.name + "." + file.extension }}
      </li>
    </ul>

    <div class="buttons-container">
      <app-file-dialog />
      <button mat-raised-button color="primary">Share Project</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-code-editor />
    <app-terminal />
  </mat-sidenav-content>
</mat-sidenav-container>
