<mat-sidenav-container class="parent">
  <mat-sidenav #sidenav class="my-sidenav" mode="side" opened>
    <div class="back-button">
      <button mat-raised-button color="primary">
        <mat-icon>arrow_back</mat-icon> Back
      </button>
    </div>
    <h1>Project X</h1>
    <div *ngFor="let file of fileService.files">
      <div class="file">
        <mat-icon class="custom-icon">description</mat-icon
        >{{ file.name + "." + file.extension }}
      </div>
    </div>

    <div class="buttons-container">
      <app-file-dialog />
      <button mat-raised-button color="primary">Share Project</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-code-editor />
    <app-terminal />
  </mat-sidenav-content>
</mat-sidenav-container>
