<div class="animated-background">
  <div class="circle-container">
    <div class="container">
      <h1 class="title">Welcome to the OnlineIDE</h1>
      <p>A project for Advanced Topics of Software Engineering (TUM)</p>
      <button *ngIf="!authenticatedNow" (click)="authService.login()" mat-raised-button class="auth-button">
        Login with GitLab LRZ
      </button>
      <button *ngIf="authenticatedNow" (click)="authService.logout()" mat-raised-button class="auth-button">
        Logout
      </button>
    </div>
  </div>
</div>