.container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
}

.add-project-button {
  margin-top: 20px;
  align-self: flex-start;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  background-color: #1078c3;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
  background-color: #f3f3f3;
  cursor: default;
}

.editable {
  margin-left: 10px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editable:hover {
  background: #dcdcdc;
}

.open-link,
.delete-link {
  padding: 5px 10px;
  transition: color 0.3s;
}

.open-link:hover {
  color: #0056b3;
}

.delete-link:hover {
  color: #d11a2a;
}