<app-navbar></app-navbar>
<div class="container">
  <h1>Project Management</h1>
  <button
    mat-raised-button
    color="primary"
    class="add-project-button"
    (click)="addProject()"
  >
    Add Project
  </button>

  <span class="empty-message" *ngIf="projects.length === 0">There are no projects yet</span>

  <table *ngIf="projects.length > 0" class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Users</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let project of projects"
        (mouseover)="onCellHover(true, project)"
        (mouseout)="onCellHover(false, project)"
      >
        <td>{{ project.id }}</td>
        <td>
          <input
            #projectName
            [ngClass]="project.isEditable ? 'editable' : 'not-editable'"
            [(ngModel)]="project.name"
            (blur)="saveProject(project)"
          />
        </td>
        <td>{{ project.userIds.length }}</td>
        <td>
          <span class="open-link" (click)="openProject(project.id)">Open</span>
          |
          <span class="delete-link" (click)="deleteProject(project.id)"
            >Delete</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
