.container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
}

.add-project-button {
  margin-top: 50px;
  max-width: 100px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.styled-table thead tr {
  background-color: #e8e8e8;
  text-align: center;
}

.styled-table tr:hover {
  background-color: #f0f0f0;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-right: 1px solid #dddddd;
}

.styled-table th:last-child,
.styled-table td:last-child {
  border-right: none;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

.editable {
  cursor: pointer;
  padding: 10px;
  background: none;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
}

.not-editable {
  background: none;
  padding: 10px;
  border: transparent;
  font-size: 15px;
  text-align: center;
}

.open-link {
  cursor: pointer;
  color: #3f51b5;
  font-weight: 500;
}

.delete-link {
  cursor: pointer;
  color: red;
  font-weight: 500;
}
