<select (change)="changeLanguage($event)">
  <option value="javascript">JavaScript</option>
  <option value="python">Python</option>
  <option value="java">Java</option>
  <option value="c">C</option>
  <option value="csharp">C#</option>
  <option value="cpp">C++</option>
  <option value="php">PHP</option>
  <option value="dart">Dart</option>
  <option value="swift">Swift</option>
  <option value="kotlin">Kotlin</option>
  <option value="rust">Rust</option>
  <option value="go">Go</option>
</select>

<div class="buttons-container">
  <button mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="compile()">Compile</button>
  <button mat-raised-button (click)="run()">Run</button>
</div>

<div style="height: 500px">
  <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
</div>